.editors {
  padding: 1em;
  margin: auto;
  font-family: 'American Typewriter';
  padding-bottom: 120px;
  max-width: 800px;
  position:relative;
}

/*
div.DraftEditor-root {
  background-color: #fffef7;
  margin:auto;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  max-width: 800px !important;
  overflow-y: scroll;
  padding:20px;
}
*/

div.DraftEditor-root {
  background-color: #fffef7;
  font-family: 'American Typewriter';
  max-height: 500px;
  max-width: 800px;
  overflow-y: auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
