.editors {
  padding: 1em;
  margin: auto;
  font-family: 'American Typewriter';
  padding-bottom: 120px;
  max-width: 800px;
  position:relative;
}

.horizontal-center {
  position: relative;
}

div.DraftEditor-root {
  background-color: #fffef7;
  font-family: 'American Typewriter';
  max-height: 500px;
  max-width: 800px;
  overflow-y: auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
